{% extends '@EzPlatformPageBuilder/page_builder/block/config.html.twig' %}

{% block basic_tab_content %}
    <div class="ez-block-config__fields">
        {{ form_row(form.name) }}
        {% if attributes_per_category['default'] is defined %}

            {% for identifier in attributes_per_category['default'] %}
                {% block config_entry %}
                    <div class="ez-block-profiler-fields">
                        {{ form_row(form.attributes[identifier]) }}
                    </div>
                {% endblock %}
            {% endfor %}

        {% endif %}
    </div>
{% endblock %}